.todosTypes {
    width: 58%;
    display: flex;
    justify-content: space-between;
}

.todosType {
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.3s linear;

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
}

.todosTypeActive {
    color: #5693fa;
    font-weight: 600;
    text-decoration: underline;
}
