.addTodoForm {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 30px 0 0 0;

    .inputContainer {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .input {
        width: 100%;
    }

    .errorMessage {
        color: #ff0000;
        font-size: 14px;
        margin-top: 4px;
    }

    .button {
        padding: 4px 20px;
        border-radius: 7px;
        max-height: 38px;
        transition: background-color 0.3s linear;

        &:hover {
            background-color: #80a7f3;
        }
    }
}
